In [1]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [2]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [3]:
oil_series = pd.Series(oil_array, name="Oil_prices")

oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: Oil_prices, Length: 100, dtype: float64

In [4]:
oil_series.name

'Oil_prices'

In [5]:
oil_series.values.dtype

dtype('float64')

In [6]:
oil_series.size

100

In [7]:
oil_series.index

RangeIndex(start=0, stop=100, step=1)

In [8]:
oil_series.astype('int64')

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: Oil_prices, Length: 100, dtype: int64

In [9]:
oil_series.astype('int64').mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [10]:
# # extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]

dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [11]:
#Set dates as an index value

oil_series.index = dates

oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil_prices, Length: 100, dtype: float64

In [12]:
#Mean of first 10 prices in the series
oil_series.iloc[:10].mean()

52.765

In [13]:
#Mean of last 10 prices in the series

oil_series.iloc[-10:].mean()

47.13

In [14]:
#oil prices from January 1st, 2017 - January 7th, 2017

oil_series.loc['2017-01-01':'2017-01-07']

date
2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
Name: Oil_prices, dtype: float64

In [15]:
#set the index to the default integer index

oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: Oil_prices, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.


Back in assignment 2, I set the index with "oil_series.index = [dates]" instead of "oil_series.index = dates".  The brackets specified it as a multiindex.  This didn't cause any problems with assignment 2 or 3 up until the above "isin" step.   So, I inadvertently got a sneak preview of multi-column indices!

In [16]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [63]:
#Sort the values. by default arrange it in the ascending order.

oil_series.sort_values()

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
              ...
2017-02-21    54.02
2017-02-27    54.04
2017-02-23    54.48
2016-12-21      NaN
2017-05-12      NaN
Name: Oil_prices, Length: 100, dtype: float64

In [58]:
#Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price

oil_series.sort_values().iloc[:10].sort_index(ascending = False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil_prices, dtype: float64

In [67]:
mask = (oil_series.le(50)) & (oil_series.index.isin(dates))


oil_series.loc[mask]

#it was showing an error for the multindex, when i had set the "oil_series.index = [dates]" instead of "oil_series.index = dates"

date
2017-03-21    47.02
2017-05-03    47.79
Name: Oil_prices, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [20]:
#Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

ten_percent = oil_series*1.1 +2

ten_percent

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil_prices, Length: 100, dtype: float64

In [21]:
#difference between each price and max price

Difference_of_max_each_price = (max(ten_percent)-ten_percent)/max(ten_percent)

Difference_of_max_each_price

date
2016-12-20    0.040143
2016-12-21    0.053998
2016-12-22    0.044406
2016-12-23    0.043874
2016-12-27    0.029486
                ...
2017-05-09    0.153469
2017-05-10    0.127890
2017-05-11    0.118476
2017-05-12    0.118121
2017-05-15    0.099826
Name: Oil_prices, Length: 100, dtype: float64

In [22]:
#extract the month from the string dates in the index and store them as an integer in their own series

month_extract = ten_percent.index.str[5:7]

month_extract

Index(['12', '12', '12', '12', '12', '12', '12', '12', '01', '01', '01', '01',
       '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01',
       '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '02',
       '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '03',
       '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03',
       '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '04', '04',
       '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04',
       '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05',
       '05', '05', '05', '05'],
      dtype='object', name='date')

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [23]:
oil_series.head()

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
Name: Oil_prices, dtype: float64

In [24]:
#the mean of prices in the month of March

oil_series[oil_series.index.str[5:7] == "03"].mean()

49.32782608695651

In [25]:
#the sum of prices in the month of March

oil_series[oil_series.index.str[5:7] == "03"].sum()

1134.5399999999997

In [26]:
#calculate how many prices were recorded in January and February

Jan = oil_series[oil_series.index.str[5:7] == "01"].count()

In [27]:
Feb = oil_series[oil_series.index.str[5:7] == "02"].count()

In [28]:
Jan + Feb

39

In [29]:
#calculate how many prices were recorded in January and February

#one-liner

oil_series[oil_series.index.str[5:7].isin(["01","02"])].count()

39

In [30]:
#10th and 90th percentiles across all data.

oil_series.quantile([0.1,0.9])

0.1    47.299
0.9    53.811
Name: Oil_prices, dtype: float64

In [31]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil_prices, Length: 100, dtype: float64

In [32]:
oil_series.fillna(0).astype("int64")

date
2016-12-20    52
2016-12-21    51
2016-12-22    51
2016-12-23    52
2016-12-27    52
              ..
2017-05-09    45
2017-05-10    47
2017-05-11    47
2017-05-12    47
2017-05-15    48
Name: Oil_prices, Length: 100, dtype: int64

In [33]:
#how often did integer dollar value (e.g. 51, 52) occur in the data?

oil_series.astype("int64").value_counts(normalize=True).dropna()

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: Oil_prices, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [34]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

In [35]:
#Number of Missing Values

oil_series.isna().sum()

2

In [36]:
oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: Oil_prices, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [46]:
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: Oil_prices, Length: 100, dtype: float64

In [37]:
oil_series.apply(lambda x:'Buy' if x < oil_series.quantile(.9) else 'wait')

date
2016-12-20     Buy
2016-12-21    wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    wait
2017-05-15     Buy
Name: Oil_prices, Length: 100, dtype: object

In [45]:
#setting function

def buy_bullish (price, limit):
    if price < limit:
        return "Buy"
    return "Wait"

In [43]:
#a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not

oil_series.apply(buy_bullish, args=(oil_series.quantile(.9),))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: Oil_prices, Length: 100, dtype: object

In [49]:
oil_series.quantile(.9)

53.813

In [54]:
#create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates

np.where(oil_series.index.isin(['2016-12-23','2017-05-10']),
         oil_series * .9,
         oil_series * 1.1)

array([57.442,    nan, 57.178, 46.809, 58.102, 59.411, 59.18 , 59.125,
       57.596, 58.586, 59.147, 59.378, 57.145, 55.902, 57.409, 58.311,
       57.596, 57.695, 56.232, 56.529, 57.563, 58.047, 57.618, 57.354,
       58.564, 58.498, 57.893, 58.025, 59.29 , 58.905, 59.191, 58.311,
       57.409, 57.607, 58.289, 59.224, 58.256, 58.531, 58.421, 58.751,
       58.751, 59.422, 58.971, 59.928, 59.389, 59.444, 59.4  , 59.202,
       57.893, 58.663, 58.509, 57.948, 54.813, 53.625, 52.855, 52.745,
       51.964, 53.174, 53.13 , 53.174, 52.569, 51.722, 52.019, 51.7  ,
       52.03 , 51.722, 53.196, 54.417, 55.33 , 55.594, 55.275, 56.089,
       56.254, 56.859, 57.475, 58.366, 58.718, 58.432, 58.509, 57.882,
       57.706, 55.539, 55.286, 54.604, 53.79 , 54.142, 54.142, 53.856,
       54.241, 53.713, 52.415, 52.569, 50.105, 50.853, 51.106, 50.424,
       42.552, 52.591,    nan, 53.746])